# Exclude tests and docs from exports and archives
tests/ export-ignore
docs/ export-ignore

# Exclude development and documentation files
.github/ export-ignore
.gitignore export-ignore
.gitattributes export-ignore
